

<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Development Launcher
        </h1>
        <p class="lede">You can use the options below to manage the data thie api uses.</p>

        <h3 class="heading-medium">Scenario helpers</h3>
        <ul>
            <li><a href="/manage/seed-user-services">Link user to Service</a></li>
            <li><a href="/manage/invitation-access/link">Link invitation to Service</a></li>
        </ul>

        <h3 class="heading-medium">Data Management</h3>
        <ul>
            <li><a href="/manage/services">Services</a></li>
            <li><a href="/manage/organisations">Organisations</a></li>
            <li><a href="/manage/user-access">User Access</a></li>
            <li><a href="/manage/invitation-access">Invitation Access</a></li>
        </ul>
    </div>
</div>