

<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Development Launcher
        </h1>
        <p class="lede">You can use the options below to manage the data thie api uses.</p>

        <h3 class="heading-medium">Scenario helpers</h3>
        <ul>
            <li><a href="/manage/seed-user-services">Link user to Service</a></li>
            <li><a href="/manage/invitation-access/link">Link invitation to Service</a></li>
        </ul>

        <h3 class="heading-medium">Data Management</h3>
        <ul>
            <li><a href="/manage/services">Services</a></li>
            <li><a href="/manage/organisations">Organisations</a></li>
            <li><a href="/manage/user-access">User Access</a></li>
            <li><a href="/manage/invitation-access">Invitation Access</a></li>
        </ul>
        <h2 class="heading-large">Routes</h2>
        <ul>
            <% for(let i = 0; i < locals.routes.length; i++) {%>
            <% let route = locals.routes[i] %>
            <li class="route "><div class="method <%= route.methods[0].toLowerCase() %>"><%= route.methods[0] %></div><%= route.path %></li>
            <% } %>
        </ul>
    </div>
</div>

<style>
    li.route {
        border: 1px solid #aaa;
        background-color: #eee;
        padding: 15px;
        margin: 5px 0;
    }

    li.route div.method {
        display: inline-block;
        margin: -15px;
        padding: 15px;
        margin-right: 15px;
        background-color: #777;
        color: #fff;
        font-weight: bold;
    }

    li.route div.method.get {
        background-color: #407669;

    }

    li.route div.method.post {
        background-color: #94aa65;

    }

</style>
