<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Select the are you would like to manage
        </h1>

        <ul>
            <li><a href="/manage/services">Services</a></li>
            <li><a href="/manage/organisations">Organisations</a></li>
            <li><a href="/manage/user-access">User Access</a></li>
        </ul>
    </div>
</div>